{% if section == "learn" %}

  {% assign id="6uk05v0nmc" %}
  {% assign color="008aff" %}

{% elsif section == "teach" %}

  {% assign id="nhgvxsr9g4" %}
  {% assign color="26bf12" %}

{% endif %}
<div id="wistia_{{ id }}" class="wistia_embed" style="width:800px;height:450px;" data-video-width="800" data-video-height="450">&nbsp;</div>
      <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/playlist-v1.js"></script>
      <script>
        {{ section }}Playlist = Wistia.playlist("{{ id }}", {
        version: "v1",
        stillUrl: "http://trinket.io/img/trinket-logo.png",
        theme: "tab",
        videoOptions: {
          volumeControl: true,
          playerColor: "{{ color }}",
          autoPlay: true,
          videoWidth: "800",
          videoHeight: "450"
        },
        media_0_0: {
          autoPlay: false,
          controlsVisibleOnLoad: false
        }
      });
      </script>